{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "env": {
    "jest": true,
    "browser": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    // name of rule : array roules where 1 (enable/disable), second object define rule.
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "no-param-reassign": [2, { "props": false }]
  }
}
