{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "jest": true,
    "browser": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    // name of rule : array roules where 1 (enable/disable), second object define rule
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "no-param-reassign": [2, { "props": false }]
  }
}
